%mc-form-input-base-style {
    border-color: $mc-form-input-border-color;
    border-style: solid;
    border-width: $mc-form-input-border-width;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: pxToEm($mc-form-input-font-size);
    outline: none;
    resize: none;
    transition: border .15s ease;

    .mc-focus & {
        border-color: transparent;
    }

    &::placeholder { color: $mc-text-light-color; }
    &::-webkit-input-placeholder { color: $mc-text-light-color; }
    &::-moz-placeholder { color: $mc-text-light-color; }
    &:-ms-input-placeholder { color: $mc-text-light-color; }
    &:-moz-placeholder { color: $mc-text-light-color; }
}

.mc-form-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    position: relative;

    label {
        color: $mc-text-light-color;
        display: block;
        font-size: pxToEm($mc-form-label-font-size);
        margin-bottom: pxToEm(8px, $mc-form-label-font-size);
        transition: color .15s ease;

        span {
            display: block;
            font-size: pxToEm($mc-form-label-caption-font-size, $mc-form-label-font-size);
            font-style: italic;
            margin-top: pxToEm(3px, $mc-form-label-caption-font-size);
        }
    }

    input,
    textarea {
        @extend %mc-form-input-base-style;
    }

    textarea {
        height: pxToEm($mc-form-input-font-size * 7);
    }

    .mc-form-input-border {
        border-color: $mc-form-input-focus-border-color;
        border-style: solid;
        border-width: $mc-form-input-border-width;
        border-radius: 3px;
        box-sizing: border-box;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .15s ease;
    }

    .mc-form-error-message {
        color: $mc-danger-color;
        font-size: pxToEm(14px);
        margin-top: pxToEm(10px, 14px);
        text-align: right;
        width: 100%;
    }
}

.mc-form-input[labelLeft] {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    label {
        display: inline-block;
        margin-bottom: 0;
        margin-right: pxToEm(10px, $mc-form-label-font-size);

        span {
            margin-right: pxToEm(10px, $mc-form-label-caption-font-size);
        }
    }

    input,
    textarea {
        flex: 1 0 auto;
    }
}

.mc-form-input.mc-focus {
    label {
        color: $mc-form-label-focus-text-color;
    }

    .mc-form-input-border {
        opacity: 1;
    }
}

.mc-form-input[error] {
    label {
        color: $mc-danger-color;
    }

    .mc-form-input-border {
        border-color: $mc-danger-color;
        opacity: 1;
    }
}
