@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
    font-family: $mc-font-family;
    font-size: $mc-font-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
