@import "../../packages/micro-ui-styles/dist/themes/default-theme";

.page-grid {
    .box, .box-first, .box-large, .box-nested, .box-row {
        background: #007fff;
        border: 1px solid #fff;
        border-radius: 2px;
        color: #fff;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        margin-bottom: 1rem;
        min-height: 1rem;
    }

    .box-first {
        background: #06c;
        border-color: #007fff;
        min-height: 0;
        margin-bottom: 0;
    }

    .box-nested {
        background: #036;
        border-color: #007fff;
        margin-bottom: 0;
    }

    .box-large {
        height: 8rem;
    }

    .box-container {
        box-sizing: border-box;
        min-height: 0;
        padding: .5rem;
    }
}
